@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  @apply bg-sky-500 text-white dark:text-slate-800 hover:text-slate-800;
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(115, 115, 115, 0.281);
  border-radius: 10px;
}
